# Managed by Ansible
port = 47989
address_family = ipv4
output_name = 0
min_log_level = 2
origin_web_ui_allowed = lan
upnp = enabled
pkey = {{ headless_game_streaming_sunshine_state_dir }}/cakey.pem
cert = {{ headless_game_streaming_sunshine_state_dir }}/cacert.pem
file_state = {{ headless_game_streaming_sunshine_state_dir }}/sunshine_state.json
credentials_file = {{ headless_game_streaming_sunshine_state_dir }}/credentials.json
apps_file = {{ headless_game_streaming_sunshine_config_dir }}/apps.json
fec_percentage = 20
nv_preset = 1
capture = wlr
