{
  "apps": [
{% for app in headless_game_streaming_sunshine_apps %}
    {
      "name": {{ app.name | to_json }},
      "image-path": {{ app['image-path'] | to_json }},
      "auto-detach": {{ app['auto-detach'] | to_json }},
      "wait-all": {{ app['wait-all'] | to_json }},
      "exit-timeout": {{ app['exit-timeout'] | to_json }},
      "cmd": {{ app.cmd | to_json }}
    }{% if not loop.last %},{% endif %}
{% endfor %}
  ]
}
