---
version: 1

web:
  listen:
    port: {{ scrutiny_ui_port }}
    host: 0.0.0.0
  database:
    location: /opt/scrutiny/config/scrutiny.db
  src:
    frontend:
      path: /opt/scrutiny/web
  influxdb:
    host: localhost
    port: {{ scrutiny_influxdb_port }}

notify:
  urls:
    - "smtp://{{ tesseract_email_username }}:{{ tesseract_email_password }}@{{ tesseract_email_host }}:{{ tesseract_email_port }}/?fromAddress={{ tesseract_email_username }}&toAddresses={{ tesseract_email_username }}"
