---

{% macro print_app(app) -%}

{% if app.target is iterable and (app.target is not string and app.target is not mapping) %}
{% for target in app.target %}
      - name: {{ app.name }}
        url: "{{ target }}"
        subtitle: {{ target.rpartition("//")[-1].partition("/")[0].partition(":")[0] }}
{% if app.icon is defined %}
        logo: "assets/tools/{{ app.icon }}"
{% else %}
        logo: "assets/tools/sample.png"
{% endif %}
{% endfor %}
{% else %}
      - name: {{ app.name }}
        url: "{{ app.target }}"
{% if app.subtitle is defined %}
        subtitle: {{ app.subtitle }}
{% endif %}
{% if app.icon is defined %}
        logo: "assets/tools/{{ app.icon }}"
{% else %}
        logo: "assets/tools/sample.png"
{% endif %}
{% endif%}

{%- endmacro -%}

# Homepage configuration

title: "Ben's Dashboard"
subtitle: "Homer"
#logo: "logo.png"

header: true
footer: false

defaults:
  layout: list
  colorTheme: auto

theme: default
colors:
  light:
    highlight-primary: "#3367d6"
    highlight-secondary: "#3367d6"
    highlight-hover: "#5a95f5"
    background: "#f5f5f5"
    card-background: "#ffffff"
    text: "#363636"
    text-header: "#ffffff"
    text-title: "#303030"
    text-subtitle: "#424242"
    card-shadow: rgba(0, 0, 0, 0.1)
    link: "#3273dc"
    link-hover: "#363636"
  dark:
    highlight-primary: "#3367d6"
    highlight-secondary: "#3367d6"
    highlight-hover: "#5a95f5"
    background: "#1a1a1a"
    card-background: "#2b2b2b"
    text: "#eaeaea"
    text-header: "#ffffff"
    text-title: "#fafafa"
    text-subtitle: "#f5f5f5"
    card-shadow: rgba(0, 0, 0, 0.4)
    link: "#3273dc"
    link-hover: "#ffdd57"

services:

  - name: "Applications"
    icon: "fas fa-cloud"
    items:

{% for dashboard_app in dashboard_apps %}
{{ print_app(dashboard_app) }}
{% endfor %}

  - name: "Admin"
    icon: "fa-solid fa-screwdriver-wrench"
    items:

{% for admin_app in dashboard_admin_apps %}
{{ print_app(admin_app) }}
{% endfor %}



