#!/usr/bin/env python3

import music_tag
import mutagen
import os
import sys

if len(sys.argv) >= 2:
    rootdir = sys.argv[1]
else:
    rootdir = "{{ podcast_tagger_search_path }}"

if not os.path.isdir(rootdir):
    print("Root directory " + rootdir + " not found.")
    quit()

extensions = ('.aac', '.aiff', '.flac' '.m4a', 'mp3', 'ogg', '.opus', '.wav')

for subdir, dirs, files in os.walk(rootdir):
    for file in files:
        ext = os.path.splitext(file)[-1].lower()
        if ext in extensions:
            file_path = os.path.join(subdir, file)

            print("Processing file: " + file_path)

            new_title = os.path.splitext(file)[0]
            new_title = new_title.replace("-", " ")

            if new_title.split(" ", 1)[0].isnumeric() and len(new_title.split(" ", 1)) > 1:
                track_number = int(new_title.split(" ", 1)[0])
                new_title = str(new_title.split(" ", 1)[1])
            else:
                track_number = False

            print("New title -> " + new_title)
            if track_number is not False:
                print("Track number -> " + str(track_number))

            try:
                tags = music_tag.load_file(file_path)

                # if tags['title'] == new_title:
                #     print("Tag the same, skipping")
                #     continue

                if track_number is not False:
                    tags['tracknumber'] = track_number

                tags['title'] = new_title

                tags.save()
            except (mutagen.mp3.HeaderNotFoundError, mutagen.mp4.MP4StreamInfoError):
                print("ERROR: Unable to process file " + file_path)

