---

- name: Assert that all required inputs have been provided.
  ansible.builtin.assert:
    that:
      - ollama_version is not none

- name: Ensure tesseract user exists.
  register: tesseract_user_details
  ansible.builtin.user:
    name: "{{ tesseract_username }}"

- name: Ensure curl and cron are installed.
  ansible.builtin.package:
    name:
      - curl
      - cron
    update_cache: true

- name: Set architecture variable.
  ansible.builtin.set_fact:
    arch: "{{ 'arm64' if ansible_architecture == 'aarch64' else 'amd64' }}"

- name: Install AMD ROCm.
  ansible.builtin.include_tasks:
    file: install_rocm.yml
  when: ollama_install_rocm is true

- name: Get current Ollama version.
  ansible.builtin.command: ollama --version
  register: ollama_current_version
  failed_when: false
  changed_when: false

- name: Download and install Ollama if required.
  when: ollama_version not in ollama_current_version.stdout
  notify: restart ollama
  block:
    - name: Download the Ollama package to /tmp.
      ansible.builtin.get_url:
        url: "https://github.com/ollama/ollama/releases/download/v{{ ollama_version }}/ollama-linux-{{ arch }}.tgz"
        dest: "/tmp/ollama-linux-{{ arch }}.tgz"
        owner: root
        group: root
        mode: '0644'
      register: download_ollama
      retries: 5
      delay: 10
      until: download_ollama is succeeded

    - name: Extract the Ollama package to /usr.
      ansible.builtin.unarchive:
        src: "/tmp/ollama-linux-{{ arch }}.tgz"
        dest: /usr
        remote_src: true
        owner: root
        group: root
        mode: '0755'

- name: Copy ollama.service template to /etc/systemd/system.
  ansible.builtin.template:
    src: templates/ollama.service.j2
    dest: /etc/systemd/system/ollama.service
    owner: root
    group: root
    mode: '0644'
  notify: restart ollama

- name: Start and enable ollama service.
  ansible.builtin.service:
    name: ollama
    state: started
    enabled: true

- name: Ensure /opt/ollama/bin directory exists.
  ansible.builtin.file:
    path: /opt/ollama/bin
    state: directory
    mode: '0755'

- name: Template the set_keep_alive.sh script.
  ansible.builtin.template:
    src: templates/set_keep_alive.sh.j2
    dest: /opt/ollama/bin/set_keep_alive.sh
    owner: root
    group: root
    mode: '0755'

- name: Create cron job to run set_keep_alive.sh.
  when: ollama_keep_alive_cron is not none
  ansible.builtin.cron:
    name: "Run set_keep_alive.sh"
    job: /bin/bash /opt/ollama/bin/set_keep_alive.sh
    minute: "0"
    hour: "{{ ollama_keep_alive_cron }}"

- name: Create cron job to restart ollama service.
  ansible.builtin.cron:
    name: "Restart Ollama service"
    job: /bin/systemctl restart ollama.service
    minute: "30"
    hour: "{{ ollama_restart_hour_cron }}"

- name: Ensure the Ollama models are downloaded.
  ansible.builtin.include_tasks:
    file: build_model.yml
  loop: "{{ ollama_models }}"
  when: ollama_models | length > 0
