# Managed by Ansible
port = 47989
address_family = ipv4
output_name = 0
min_log_level = 2
origin_web_ui_allowed = lan
upnp = enabled
pkey = /home/{{ steam_user }}/.local/state/sunshine/cakey.pem
cert = /home/{{ steam_user }}/.local/state/sunshine/cacert.pem
file_state = /home/{{ steam_user }}/.local/state/sunshine/sunshine_state.json
credentials_file = /home/{{ steam_user }}/.local/state/sunshine/credentials.json
apps_file = /home/{{ steam_user }}/.config/sunshine/apps.json
fec_percentage = 20
nv_preset = 1
capture = wlr
