{
  "apps": [
    {
      "name": "Steam Big Picture",
      "image-path": "steam",
      "auto-detach": "true",
      "wait-all": "true",
      "exit-timeout": "5",
      "cmd": "/usr/local/bin/steam-session"
    }
  ]
}
