model_list:
{% for model in litellm_models %}
  - model_name: {{ model.model_name }}
    litellm_params:
{%   for key, value in model.litellm_params.items() %}
      {{ key }}: {{ value }}
{%   endfor %}
{% endfor %}

general_settings:
{% if litellm_master_key is not none %}
  master_key: "os.environ/LITELLM_MASTER_KEY"
{% endif %}
  timeout: {{ litellm_timeout }}

router_settings:
{% if litellm_aliases %}
  model_group_alias:
{%   for alias, model in litellm_aliases.items() %}
    "{{ alias }}":
      model: "{{ model }}"
      hidden: true
{%   endfor %}
{% endif %}

litellm_settings:
{% if litellm_cache %}
  cache: True
  cache_params:
    type: local
{% endif %}
{% if litellm_fallbacks %}
  default_fallbacks: {{ litellm_fallbacks | to_json }}
{% endif %}
